# Ignore all directories and files except git related
/*
!.gitignore

# Include:

## Staff Schedules.xlsx
!Staff Schedules.xlsx

## 1 - Contracts and Agreements/Contracts - Invoice Tracking.xlsm
!1 - Contracts and Agreements/
1 - Contracts and Agreements/*
!1 - Contracts and Agreements/Contracts - Invoice Tracking.xlsm

## 8 - Training Materials/Internal/git
!8 - Training Materials/
8 - Training Materials/*
!8 - Training Materials/Internal/
8 - Training Materials/Internal/*
!8 - Training Materials/Internal/git

## Equipment/Equipment.xlsx
!Equipment/
Equipment/*
!Equipment/Equipment.xlsx

## Library/Library.xlsx
## Library/ReadMe.txt
!Library/
Library/*
!Library/Library.xlsx
!Library/ReadMe.txt

## Meetings/Meetings.xlsx
## Meetings/ReadMe.txt
!Meetings/
Meetings/*
!Meetings/Meetings.xlsx
!Meetings/ReadMe.txt

## Organizations/Organizations.xlsx
## Organizations/ReadMe.txt
!Organizations/
Organizations/*
!Organizations/Organizations.xlsx
!Organizations/ReadMe.txt

## Photos/utils/
## Photos/Corr Eng Photos
## Photos/Photos.xlsx
## Photos.xlsx.pass.txt
## Photos/ReadMe.txt
!Photos/
Photos/*
!Photos/utils/
!Photos/Corr Eng Photos
!Photos/Photos.xlsx
!Photos.xlsx.pass.txt
!Photos/ReadMe.txt

## Technologies/Technologies.xlsx
## Technologies/ReadMe.txt
!Technologies/
Technologies/*
!Technologies/Technologies.xlsx
!Technologies/ReadMe.txt

## Web Resources/
!Web Resources/